.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.home-section {
  background-color: #DEEBEE;
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.home-section .left span {
  color: #5e3bee;
  background-color: #DEEBEE;
}

.about-section {
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-section .left span {
  color: #5e3bee;
}

.Skill-section {
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-section {
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

#cardimg {
  height: 285px;
}

#skill {
  background-color: #deebee;
  padding: 100px 0 100px 0;
}

.contact-section .social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

.contact-section .social-links a {
  transition: transform 300ms;
  cursor: pointer;
}

.contact-section .social-links a:hover {
  transform: scale(2);
}