@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1c1e53;
  transition: color 0.3s ease;
}

a:hover {
  color: #5e3bee !important;
}

h5 {
  font-size: 20px;
}

li {
  list-style: none;
}

nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 0 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

nav .logo,
footer .logo {
  display: flex;
  align-items: center;
}

nav .logo a,
footer .logo a {
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
}

nav .logo img,
footer .logo img {
  width: 40px;
  height: 40px;
}

nav ul,
footer .top ul {
  display: flex;
  gap: 40px;
}

nav button {
  color: #1c1e53;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #1c1e53;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  background-color: #5e3bee;
  border-color: #5e3bee;
  color: #fff;
}

nav button#menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 7px;
}

.main {
  background-color: #deebee;
  padding: 90px 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.main .left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main .left h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 46px;
}

.main .left h3 span {
  color: #5e3bee;
}

.main .left p {
  color: #1c1e53;
  font-size: 22px;
  margin-top: 20px;
}

.main .left button {
  margin-top: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #5e3bee;
  padding: 14px 24px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.main .right img {
  width: 500px;
}

.skills {
  padding: 110px 85px 0;
}

.skills h3,
.about .right h2,
.project .header h3,
.skills .skill-items {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}

.skills .skill-items .item {
  background-color: #deebee;
  width: 25%;
  border-radius: 10px;
  padding: 32px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills .skill-items .item:hover {
  border-color: #5e3bee;
}

.skills .skill-items .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 46px;
  height: 46px;
  border-radius: 10px;
  margin-bottom: 22px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i {
  font-size: 26px;
  color: #006b6a;
}

.skills .skill-items .item h4,
.project .project-items .item .info h4 {
  font-size: 18px;
}

.skills .skill-items .item p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #1c1e53;
}

.about {
  padding: 110px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.about .left {
  background-color: #deebee;
  border-radius: 10px 10px 0 0;
}

.about .left img {
  width: 440px;
}

.about .right p {
  font-size: 20px;
  margin-top: 30px;
}
.about .right p span b {
  color: #5e3bee;
}

.project {
  background-color: #deebee;
  padding: 110px 85px;
  height: 70vh;
}

.project .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.project .header button {
  background-color: #ff0000;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  border-radius: 10px;
}

.project .header button i {
  font-size: 26px;
}

.project .project-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project .project-items .item {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.project .project-items .item:hover {
  border-color: #5e3bee;
}

.project .project-items .item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 20px 20px;
}

.project .project-items .item .info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 32px 42px;
}

.project.project-items .item .info p {
  font-size: 13px;
}

.pproject .project-items .item .info a {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #5e3bee;
}

.project .project-items .item .info a i {
  margin-left: 2px;
  font-size: 16px;
}

footer {
  background-color: #deebee;
  padding: 150px;
  display: flex;
  flex-direction: column;
  position: sticky;
}

footer .top,
footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .top .social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
}

.social-links a {
  transition: transform 300ms;
  cursor: pointer;
}

.social-links a:hover {
  transform: scale(2);
}

footer .separator {
  width: 100%;
  height: 1px;
  background-color: #282938;
  margin: 30px 0 20px;
}

footer .bottom p {
  font-size: 12px;
}

footer .bottom {
  font-size: 12px;
  margin-left: 14px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 5 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}